/* Apply a fancy font family */
body {
    font-family: 'Roboto', sans-serif; /* Change to any other fancy font if you prefer */
    background-color: #5B0F17;
    color: #EAEAEA; /* Light color for better contrast on dark background */
    margin: 0;
    padding: 0;
}

img{
    height: 80px;
    width: 80px;
}


header {
    background-color: #760A16;
    color: #EAEAEA;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #44040B;
    color: #EAEAEA;
    padding: 10px 0; /* Smaller footer height */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding: 20px;
}

h1 {
    font-size: 1.5em; /* Increase size for better visibility */
}

button {
    background-color: #760A16; /* Matching button color */
    color: #EAEAEA;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #EAEAEA;
    color: #760A16;
}
