/* Apply a fancy font family */
body {
    font-family: 'Roboto', sans-serif; /* Change to any other fancy font if you prefer */
    background-color: #80ED99;
    color: #333333; /* Light color for better contrast on dark background */
    margin: 0;
    padding: 0;
}

img{
    height: 80px;
    width: 80px;
}


header {
    background-color: #0B6477;
    color: #213A57;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #0B6477;
    color: #213A57;
    padding: 10px 0; /* Smaller footer height */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding: 20px;
}

h1 {
    font-size: 1.5em; /* Increase size for better visibility */
}

button {
    background-color: #14919B; /* Matching button color */
    color: #213A57;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #EAEAEA;
    color: #14919B;
}
